@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
html {
	height: 100%;
}

body {
	font-family: Roboto;
	background-image: url("blog.jpg");
	background-size: cover;
}

.container {
	padding-top: 10px;
}

.card-title {
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 0.8px;
}

input {
	font-size: 18px;
	width: 100%;
	box-sizing: border-box;
	height: 40px;
	background-color: #f7f7f7;
	padding: 13px 13px 13px 20px;
	border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
	background-color: #fff;
	border: 3px solid #2980b9;
	outline: none;
}

.card-text {
	font-size: 20px;
}

.date {
	font-size: 15px;
}

.mb-4 {
	background: white;
	border: 0 none;
	border-radius: 0px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 33.33%;
	position: relative;
}
